fastapi
uvicorn
openai
python-dotenv
python-multipart
langchain
langchain-community
email-validator
langchain-openai
psycopg2-binary
pinecone>=3.0.0
passlib[bcrypt]>=1.7.4
python-jose[cryptography]>=3.3.0
boto3
starlette